<header>
    <div class="header-container">
        <div class="app-title">
            <h1>Sales client</h1>
        </div>
        <div class="auth">
            <AppAuthorization/>
        </div>
    </div>
</header>

@code {
    
}