header {
    position: absolute;
    top: 0;
    height: 54px;
    width: 100%;
    z-index: 10;
    background-color: white;
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.3),0 2px 4px -1px rgba(0, 0, 0, 0.2);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
    padding-left: 1rem;
    background-color: #003349;
    color: white;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.auth {
    margin-right: 1rem;
}